


<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/angular-route.js"></script>

<script src="~/src/app.js"></script>

<script src="~/src/services/url-service.js"></script>
<script src="~/src/services/redirect-service.js"></script>
<script src="~/src/services/course-service.js"></script>

<script src="~/src/factories/filename-factory.js"></script>

<script src="~/src/directory/courses-controller.js"></script>
<script src="~/src/directory/files-controller.js"></script>
<script src="~/src/directory/player-controller.js"></script>



<div ng-app="Tutorials">    
    <div style="padding:10%;" ng-view>
    </div>
    <a href="#/main">Courses</a>
</div>
 